In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
for i in range(1,13):
    if i == 1:
        df = pd.read_csv('raw_data/all_energy_statistics' + str(i) +'.csv')
        df_cols = df.columns.to_list()
    else:
        df1 = pd.read_csv('raw_data/all_energy_statistics' + str(i) + '.csv',header=None)
        df1.columns = df_cols
        df = df.append(df1)

In [88]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1189482 entries, 0 to 89482
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   country_or_area        1189482 non-null  object
 1   commodity_transaction  1189482 non-null  object
 2   year                   1189482 non-null  int64
 3   unit                   1189482 non-null  object
 4   quantity               1189482 non-null  float64
 5   quantity_footnotes     163946 non-null   float64
 6   category               1189482 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 72.6+ MB

In [89]:
df_portugal = df[df['country_or_area'] == 'Portugal']
df_portugal

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
466,Portugal,Additives and Oxygenates - Imports,2014,"Metric tons, thousand",110.0,NaN,additives_and_oxygenates
467,Portugal,Additives and Oxygenates - Imports,2013,"Metric tons, thousand",100.0,NaN,additives_and_oxygenates
468,Portugal,Additives and Oxygenates - Imports,2012,"Metric tons, thousand",105.0,NaN,additives_and_oxygenates
469,Portugal,Additives and Oxygenates - Imports,2011,"Metric tons, thousand",103.0,NaN,additives_and_oxygenates
470,Portugal,Additives and Oxygenates - Imports,2010,"Metric tons, thousand",122.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
89138,Portugal,Electricity - total wind production,1994,"Kilowatt-hours, million",17.0,NaN,wind_electricity
89139,Portugal,Electricity - total wind production,1993,"Kilowatt-hours, million",11.0,NaN,wind_electricity
89140,Portugal,Electricity - total wind production,1992,"Kilowatt-hours, million",4.0,NaN,wind_electricity
89141,Portugal,Electricity - total wind production,1991,"Kilowatt-hours, million",1.0,NaN,wind_electricity
89142,Portugal,Electricity - total wind production,1990,"Kilowatt-hours, million",1.0,NaN,wind_electricity

In [90]:
countries_list = df.drop_duplicates(subset = 'country_or_area')['country_or_area']
countries_list

0                                         Austria
2                                         Belgium
8                                         Czechia
10                                        Finland
26                                         France
                           ...
12766                                      Tuvalu
12939                    United States Virgin Is.
13089                       Wallis and Futuna Is.
62967    Commonwealth of Independent States (CIS)
99114                         Antarctic Fisheries
Name: country_or_area, Length: 243, dtype: object

In [91]:
fuel_total_by_country = df.groupby(['country_or_area', 'category'])['quantity'].sum()
fuel_total_by_country

country_or_area  category
Afghanistan      aviation_gasoline                                              2.400000e+01
                 charcoal                                                       1.259391e+04
                 electricity_net_installed_capacity_of_electric_power_plants    4.822800e+04
                 falling_water                                                  3.940000e+05
                 fuel_oil                                                       1.520000e+02
                                                                                    ...
Zimbabwe         other_vegetal_material_and_residues                            1.387903e+07
                 paraffin_waxes                                                 4.800000e+01
                 thermal_electricity                                            1.085878e+05
                 total_electricity                                              1.961685e+06
                 uranium                                                        1.400000e+03
Name: quantity, Length: 6387, dtype: float64

In [95]:
fuel_total_per_country = df[df['category'] == 'wind_electricity'].pivot_table(index = 'country_or_area', values = 'quantity', fill_value = True).sort_values('quantity', ascending = False)
fuel_total_per_country

                             quantity
country_or_area
China                   101641.200000
United States            40094.680000
Germany                  21780.125000
Spain                    17676.880000
India                     8356.000000
...                               ...
Azerbaijan                   1.000000
St. Helena and Depend.       0.908571
St. Pierre-Miquelon          0.856667
French Polynesia             0.464500
Republic of Moldova          0.285714

[99 rows x 1 columns]